body {
  background: #f9f7fe;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  background: #ffffff;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  max-width: 720px;
  border: 1px solid #ffffff;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  margin: 30px 0;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

img {
  display: block;
  max-width: 150px;
}

form {
  margin: 20px 0;
}

input {
  padding: 15px;
  border-radius: 6px;
}

.search-input {
  background: #f9f7fe;
  border: none;
  width: 80%;
  padding: 20px;
  font-size: 16px;
  color: rgba(39, 66, 33, 0.5);
}

.search-button {
  margin-left: 5px;
  background: #885df1;
  font-size: 16px;
  color: white;
  line-height: 1;
  border: none;
  width: 15%;
  padding: 20px;
  margin-left: 5px;
}

main {
  padding: 30px 0;
}
.details {
  display: flex;
  justify-content: space-between;
}

.icon {
  position: relative;
  top: -5px;
  font-size: 40px;
  margin-right: 10px;
}
.value {
  font-size: 80px;
  font-weight: bold;
}
.unit {
  font-size: 28px;
  position: relative;
  top: -38px;
}

h1 {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
}

.current-weather {
  color: #27214266;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.current-details strong {
  color: #f65282;
}

ul {
  margin: 40px 10px;
}

li {
  list-style: none;
}
.forecast {
  display: flex;
  justify-content: space-around;
}

footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  color: #27214266;
  font-size: 14px;
  line-height: 18px;
  padding-top: 15px;
}
